@using DerdinizKimComWeb.Entities
@model List<Dert>
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_PartialCategories")
        </div>
        <div class="col-md-9">
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (Dert dert in Model)
                {
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="@dert.baslik">
                        <div class="caption">

                            <h4>
                                <a href="#">@dert.baslik</a>
                            </h4>
                            <h6>

                                <span class="glyphicon glyphicon-time"></span>@dert.duzenlendigitarih.ToString("dd.MM.yy HH:mm")<br />
                                <span class="glyphicon glyphicon-user"></span>@dert.sahibi.username
                            </h6>

                            @if (string.IsNullOrEmpty(dert.dert) == false && dert.dert.Length > 60)
                            {
                                <p>@(dert.dert.Substring(0, 60) + "...")</p>
                                <p class="pull-right"><a href="#" class="btn btn-default btn-sm ">devamı<span class="glyphicon glyphicon-chevron-right"></span></a></p>

                            }
                            else
                            {
                                <p>@dert.dert;</p>
                            }



                        </div>
                        <hr />
                        <div class="ratings">
                            <p class="pull-right">
                                <button class="btn btn-default btn-sm" type="button">
                                    <span class="glyphicon glyphicon-comment"></span> Yorumlar
                                </button>
                            </p>
                            <p>
                                <button class="btn btn-default btn-sm" type="button">
                                    <span class="glyphicon glyphicon-star-empty"></span>@dert.begenisayisi
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>